.prImgSlider {
  // padding: 20px;
  // background-color: white;
  border-radius: 14px;
  .activeLargeImage {
    position: relative;
    height: 500px;
    // aspect-ratio: 1/1.1;
    margin-bottom: 10px;
    padding: 10px;
    background: white;
    border: 1px solid var(--color-primary);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 14px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      cursor: grab;
    }
    .freeDelivery {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 99;
      padding: 5px 0;
    color: var(--color-primary);
    background-color: var(--color-soft);
      border-radius: 0 0 7px 7px;
      font-size: 18px;
      font-weight: 400;
      svg {
        height: 15px;
      }
    }
  }
  .littleSliderImagesWrapper {
    position: relative;
    width: 100%;
    border-radius: 14px;
    border: 1px solid var(--color-muted);
    // background-color: var(--color-muted);
    .sliderLittleImgWrapper {
      width: 75%;
      margin: 0 auto;
      padding: 10px 0;
      
      img {
        background-color: white;
        // aspect-ratio: 1/0.7;
        object-fit: contain;
        cursor: pointer;
        height: 70px;
        width: 100%;
        border-radius: 10px;
        opacity: 0.6;
        transition: 0.3s;
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .prImgSlider {
    // padding: 20px;
    border-radius: 14px;
    .activeLargeImage {
      position: relative;
      height: 320px;
      // aspect-ratio: 1/1.1;
      // margin-bottom: 10px;
      .freeDelivery {
        width: 100%;
        padding: 3px 0;
        font-size: 15px;
      }
    }
    .littleSliderImagesWrapper {
      position: relative;
      width: 100%;
      border-radius: 14px;
      .sliderLittleImgWrapper {
        width: 75%;
        margin: 0 auto;
        padding: 10px 0;
        img {
          height: 40px;
          border-radius: 5px;
        }
      }
    }
  }
}
