.closeArea {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999999999;
    background-color: #C4E4F4;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  font-size: 25px;
  font-weight: 700;
}